body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
}

body a, body button, .btn {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover, body button:hover, .btn:hover {
    opacity: .8;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

html {
    scroll-behavior: smooth;
}

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
}

body a:focus, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a:focus, a:hover {
    text-decoration: none;
    outline: none
}

/* //Reset Code */

/* colors code */

.text-bl {
    color: #343a40;
}

.text-wh {
    color: #fff;
}

.text-li {
    color: #f8f9fa;
}

.let {
    letter-spacing: 1px;
}

/* //colors code */

/* bottom-to-top */

a.move-top {
    width: 34px;
    height: 34px;
    background: url(../images/move-top.png) no-repeat;
    display: inline-block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 0;
}

/* //bottom-to-top */

/* //header */

/* banner */

.banner-top1 {
    /*background: url(../images/111.jpg) no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    margin-top: 50px;
    min-height: 800px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.banner-text {
    padding-top: 14em;
}

a.logo {
    font-size: 52px;
    letter-spacing: 9px;
}

.banner-text h3 {
    font-size: 58px;
    font-weight: 600;
    background: rgba(247, 245, 245, 0.34);
    color: #232323;
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.banner-text.text-center p {
    font-size: 19px;
    font-weight: 200;
    max-width: 700px;
    margin: 0 auto;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a span {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.button-style {
    padding: 14px 30px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #eee;
}

.button-style:hover, a.logo:hover {
    color: #fff;
}